<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

        layout:decorate="~{Layout1}">
>
<head>
    <meta charset="UTF-8">
    <title>Product html</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.8/css/bootstrap.min.css">
</head>
<body>
<div class="p-3" layout:fragment="content">
    <form method="post" th:action="@{/login}">
      <div class="mb-3">
          <label class="form-control">userName</label>
          <input type="Text" name="username" class="form-control" >
      </div>
        <div class="mb-3">
            <label class="form-control">Password</label>
            <input type="password" name="password" class="form-control" >
        </div>
        <button class="btn btn-primary">Login</button>
    </form>
</div>
</body>
</html>